<p class="quote">"Your life does not get better by chance, it gets better by change." <span>Jim Rohn</span></p>

<div class="wrapper">
<div class="static_page">


<h1>About Us</h1>

<p>Project Evolve is a web app that gives people a few different ideas to do good every day within three categories. The three categories are: Random Acts of Kindness, Doing Things That You're Afraid Of, and Doing Things For Your Own Well Being.  The site was created by Padraig Doyle at General Assembly, in March of 2015.</p>

<h1>Our Mission</h1>

<p>Our mission is to promote growth and evolution in everyday life. The goal is to encourage people to do random acts that they normally wouldn't do. We want to encourage these ideas in order for society to grow, as well as people to evolve personally. Whether you're doing something big or small, for yourself or for others, we're hoping you will pay those progressive acts forward. Spread the goodness!    
</p>

</div>
</div>
