<!DOCTYPE html>
<html>
<head>
  <title>Evolve</title>
 <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.2/cosmo/bootstrap.min.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class = "container text-center">
<%= yield %>
</body>
</html>